.hero {
  padding: 55px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
}

.hero__content {
  max-width: 800px;
  text-align: center;
}

.hero__title {
  margin: 0 0 20px;
  font-size: 52px;
  line-height: 1.2;
  color: var(--color-primary);
}

.hero__description {
  margin: 0 0 10px;
  font-size: 20px;
  line-height: 1.6;
  color: var(--color-text-light);
}

.hero__button {
  margin-top: 18px;
  padding: 14px 30px;
  border: none;
  border-radius: 8px;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.hero__button:hover {
  background-color: var(--color-primary-light);
}
